@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.inputForm {
  width: 100%;
  border: 0;
  border-radius: 5px;
  outline: 0;
  height: 80%;
  padding: 1% 0 0 0;
  font-size: 95%;
  margin: 0


}

::-webkit-input-placeholder {
  color: $grey-midium;
  font-family: $roboto-400;
  font-size: 95%;

}

.iconInput {
  color: $grey-midium;
  padding: 1% 4% 0 0;
  font-size: 130%;

}

.spanInput {
  border: 0.5px solid $grey-midium;
  border-radius: 5px;
  height: 10%;
  text-align: left;
  min-height: 40px;
  width: 97%;
  position: relative;
  padding-left: 3%;
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}
