@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.spanLogomark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.symbol {
  position: relative;
  width: 60;
  height: 100%;
}

.logotype {
  position: relative;
  height: 27%;
  margin-left: 4%;
}
