@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.deleteMessage {
  font-size: 3rem;
  z-index: 2;
  border: 1px solid black;
  width: 40rem;
  height: 20rem;
  background-color: purple;
  position: absolute;
  margin-top: 20rem;
  right: 1rem;
  text-align: center;
  align-content: center;
  display: inline-grid;
  animation: fadeIn 3s ease-in-out;
  -webkit-animation: fadeIn 0.5s ease-in-out;
  -moz-animation: fadeIn 0.5s ease-in-out;
  -o-animation: fadeIn 0.5s ease-in-out;
   animation: fadeIn 0.5s ease-in-out;
}

.spanDeleteMessage {
  background-color: yellow;
  width: 100%;
  text-align: center;
}
