.requestsContainer {
  height: 60.2rem;
  display: flex;
  width: 34.6rem;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

.tableColumn { 
  background-color: #E8D9D9;
  border: 1px solid black;
  width: 34.6rem;
  height: 60.2rem;
  max-width: 34.6rem;
  text-align: -webkit-center;
  position: relative;
}

.requestsContainer::-webkit-scrollbar {
  width: 1rem;          
}

.requestsContainer::-webkit-scrollbar-track {
  background: #a79f9f99 
}

.requestsContainer::-webkit-scrollbar-thumb {
  background-color: rgb(141, 131, 131);    
  border-radius: 0.1rem;     
  border: 1px solid rgb(71, 68, 68); 
}

.requestsContainer:last-child {
  padding-top: 1rem;
}
