.contentSkeleton {
  width: 90%;
  display: flex;
}

.home {
  text-align: center;
  font-size: 9.6rem;
}

.homePage {
  justify-content: center;
  display: grid;
}

.homeSpan {
  height: 100rem;
  height: auto;
  display: flex;
  width: 173rem;
  margin: 5rem 2rem 3rem 2rem;
}
.leftSpan {
  // background-color: aqua;
  width: 50%;
  row-gap: 5rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.gradeSpan {
  height: 28.3rem;
  width: 69.7rem;
  // background-color: rgb(105, 197, 209);
  border: 0.1rem solid black;
  font-size: 4.8rem;
  padding-top: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 8px 8px 5px #888888 ;

}

.grade {
  font-size: 5.5rem;
}
.spanPromotionsBanners {
  height: 38.9rem;
  width: 69.9rem;
  text-align: -webkit-center;
  border: 0.1rem solid black;
  border-radius: 1rem;
  // background-color: rgb(105, 197, 209);

  box-shadow: 8px 8px 5px #888888 ;

}
.rightSpan {
  // background-color: red;
  width: 50%;
  display: flex;
  justify-content: center;
}

.coments {
  // background-color: rgb(105, 197, 209);
  width: 69.7rem;
  font-size: 6.8rem;
  text-align: -webkit-center;
  height: 67.9rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  box-shadow: 8px 8px 5px #888888;
}
.promotionBanner {
  width: 30rem;
  object-fit: cover;

  height: 20rem;
 // border: 0.1rem solid black;
 
}
.scrollPromotions {
  // background-color: rgb(216, 164, 69);
  display: flex;
  width: 65.5rem;
  height: 25rem;
  flex-wrap: nowrap;
  column-gap: 5rem;
  overflow: hidden;
  overflow-x: scroll;
  display: -webkit-box;
  margin-top: 3rem;
}
.promotionImage {
  width: 30rem;
  height: 20rem;
  position: block;
  object-fit: cover;
  margin: 0;
  
}
.itensInable {
  display: none;
}
.promotionDefault {
  display: block;
  width: auto;
  height: auto;
  border: 0;
}
.promotionsActiveTitle {
  margin-top: 2rem;
  font-size: 5.6rem;
  
}

.spanComments {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-top: 2rem;
}

.commentsTittle {
  font-size: 4.8rem;
  padding-top: 1rem;
}


span i { 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.itensInable {
  display: none;
}

.promotionImage {
  margin: 0;
  object-fit: cover;
  position: relative
}

.promotionDefault:hover {
  background-color: transparent;
  height: 20rem;
  border: 0;
}