@import "../../styles/common/typography.scss";
@import "../../styles/common/colors.scss";

.promotion {
  font-size: 3rem;
  text-align: center;
  height: 20.5rem;
  width: 41rem;
  border: 1px solid black;
}

.promotion:hover {
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.7);

  .spanButtons {
    display: flex;
    opacity: 100%;
  }

  .promotionTitle {
    opacity: 100%;
  }

  .imagePromotion {
    opacity: 90%;
  }
}

.editButton {
  height: 7rem;
}

.spanButtons {
  display: flex;
  justify-content: space-around;
  margin: 0 6rem 0 6rem;
  margin-top: 2.5rem;
  opacity: 0%;
  display: flex;
}

.promotionTitle {
  height: 8rem;
  font-size: 3.1rem;
  margin: 0 3rem 0 3rem;
  margin-top: 1rem;
  color: white;
  font-family: $main-font;
  -webkit-text-stroke: 0.5px red;
  opacity: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconDelete {
  width: 4rem;
  height: 4rem;
}

.IconEdit {
  width: 4rem;
  height: 4rem;
}

.spanDelete {
  background-color: $red-delete;
  border-radius: 50%;
  height: 7rem;
  width: 8rem;
  border: 0;
  box-shadow: inset 0 0 0.2em black;
  cursor: pointer;
}

.spanEdit {
  background-color: $green-edit;
  border-radius: 50%;
  height: 7rem;
  margin: 0 0 0 0;
  box-shadow: inset 0 0 0.2em black;

  width: 8rem;
  border: 0;
  cursor: pointer;
}

.imagePromotion {
  height: 20.5rem;
  width: 41rem;
  z-index: -1;
  position: absolute;
  margin: -1rem 0 00 -20.5rem;
  object-fit: cover;
}

@media only screen and (max-width: 1280px) {
  .imagePromotion {
    height: 19rem;
    width: 38.1rem;
    z-index: -1;
    position: absolute;
    margin: -1rem 0 00 -19rem;
  }

  .promotion {
    font-size: 3rem;
    text-align: center;
    height: 19rem;
    width: 38rem;
    border: 1px solid black;
  }
  
}