@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.spanSignIn {
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  margin-left: 8px;
}

.formRegister {
  position: absolute;
  height: 26rem;
  margin-bottom: 3.2rem;
  width: 23rem;
  max-width: 100%;
  max-height: 100%;
}

.spanLogotype {
  height: 5.6rem;
  margin-bottom: 2.4rem;
}

.iconSignUpLink {
  margin-right: 2%;
  position: relative;
  margin: 0px 4px -2px 0px;
}

.spanImage {
  width: 50%;
  height: 100%;
  position: absolute;
  margin-left: 50%;
  text-align: center;
}

.imageSignIn {
  height: 95%;
  max-height: 100%;
  padding-top: 16px;
  display: inline-block;
}

.buttonSignIn {
  font-size: 1.2rem;
  height: 3.8rem;
  margin-top: 1.3rem;
  border-radius: 0.8rem;
}

.inputSignIn {
  width: 23rem;
  border: 1px solid black;
  height: 3.4rem;
  border-radius: 0.8rem;
  margin: 0.3rem 0 0.1rem 0;
}

.spanForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signInLink {
  height: 9rem;
  justify-content: center;
  line-height: 4.5rem;
}

@media only screen and (max-width: 800px) {
  .spanSignIn {
    width: 100%;
  }
  .spanImage {
    display: none;
  }
}
