@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.spanSignIn {
  width: 49%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 10%;
  margin-left: 8px;
}

.formRegister {
  position: absolute;
  width: 37%;
  height: 45%;
  margin-right: 2%;
  margin-bottom: 3%;
  min-width: 250px;
  //min-height: 310px;
}

.spanLogotype {
  height: 19%;
  margin-bottom: 8%;
}

.formValidation {
  color: $color-theme;
  font-size: 92%;
  font-family: $roboto-400;
  position: relative;
  display: block;
  margin: 0 0 2% 0%;
}

.signUpLink {
  display: inline-flex;
  margin-top: 20%;

  .iconSignUpLink {
    margin-right: 2%;
    position: relative;
    margin: 0px 4px -2px 0px;
  }
}

.spanImage {
  width: 50%;
  height: 100%;
  position: absolute;
  margin-left: 50%;
  text-align: center;
}

.imageSignIn {
  height: 95%;
  padding-top: 16px;
  display: inline-block;
}

@media only screen and (max-width: 800px) {
  .spanSignIn {
    width: 100%;
  }

  .formRegister {
    max-width: 300px;
  }

  .spanImage {
    display: none;
  }
}
