.requests {
  text-align: center;
  font-size: 4.68rem;
  margin-top: 5rem;
}

.table {
  border: 2px solid black; 
  text-align: -webkit-center;
  margin-top: 5rem;
}


.title {
  padding: 0;
  padding-top: 0.5rem;
  font-size: 2.4rem;
  width: 27rem;
  text-align: center;
  background-color: #E8D9D9;
  height: 3.5rem;
  border: 0.1px solid black; 

}

.tableSpan {
  text-align: -webkit-center;
}

.spanWarn {
  position: absolute;
  text-align: -webkit-center;
  width: 100%;
  margin-left: -16.5rem;
  margin-top: 2rem;
}