@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.pageContent {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

.tittle {
  text-align: center;
  font-size: 4.3rem;
}

.spanContent {
  width: 70rem;
  max-width: 100%;
  margin: 6rem 2rem 0 2rem;
  display: inline-flex;
  max-width: 100%;
  align-items: center;
}

.buttonPromotion {
  width: 13.5rem;
  height: 3.2rem;
  border-radius: 5px;
  font-family: $main-font;
  font-size: 2.6rem;
  -webkit-text-stroke: 0.8px black;
  border: 1px solid black;
  display: flex;
}

.leftSpam {
  width: 38rem;
  max-width: 100%;
}

.spanRight {
  width: 32rem;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.image {
  width: 22rem;
  height: 22rem;
  float: right;
  display: flex;
  position: absolute;
  max-width: 100%;
  border-radius: 50%;
  border: 0.5px solid black;
}

.nameInput {
  width: 37rem;
  height: 3.8rem;
  margin-bottom: 0.7rem;
}

.porcentInput {
  width: 37rem;
  height: 15rem;
  margin: 0.3rem 0 1rem 0;
}

.dataInput {
  width: 8rem;
  height: 3.8rem;
  margin: 0 0 0.7rem 0;
}

.spanForm {
  display: flex;
  width: 38rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  max-width: 100%;
  margin: 5.8rem 0 5rem 0;
}

.inputDate {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.uploadImage {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  cursor: pointer;
}

.uploadSpan {
  width: 22rem;
  height: 22rem;
  background-color: black;
  opacity: 0%;
  border-radius: 50%;
  position: absolute;
  display: flex;

}

.inputUpload {
  cursor: pointer;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  opacity: 0%;
}

.selectPlate {
  width: 27rem;
  height: 3.8rem;
  border-radius: 0.5rem;
  font-family: $roboto-400;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  color: $grey-midium;
  outline: 0;
}

select option {
  font-family: $roboto-400;
  font-size: 1.5rem;
  color: $grey-midium;
  padding-left: 0.5rem;
  -moz-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../../assets/img/arrow.png");
  background-repeat: no-repeat;
  background-position-x: 24rem;
  background-size: 2rem;
  background-position-y: 1rem;
  border: 1px solid $grey-light;
}

.spanError {
  display: inline-flex;
  place-items: center;
}

.spanPrice {
  width: 9rem;
  margin-right: 3.5rem;
}

.spanFoodType {
  width: 26rem;
}
