@import "../../styles/common/colors.scss";

.navbar {
  position: fixed;
  height: 100%;
  width: 49rem;
  background-color: $color-theme;
  display: inline-block;
  padding: 1rem 0 0 0;
}

.navbarMenu {
  color: black;
  font-size: 11.535rem;
  line-height: 9.7rem;
  display: flex;;
  padding-top: 0.5rem;
}

.navbarMenu:hover {
  color: white;
  -webkit-text-stroke: 0.1rem black;
}

.navbarIcons {
  padding: 0.1rem 1.5rem 0rem 0rem;
  height: 8.6rem;
}

.navbarIconUser {
  padding: 01rem 1.5rem 0rem 0rem;
  height: 7rem;
}