@import "../../styles/common/colors.scss";

.navbar {
    position:fixed;
    height: 100%;
    width: 260px;
    background-color: $color-theme;
    display: inline-block;
    padding: 10px 0 0 10px;
}

.navbarMenu {
    color: black;
    font-size: 40px;
    line-height: 46px;
}

.navbarMenu:hover {
  color: white;
}


.navbarIcons {
  padding: 0 10px 0 0;
  vertical-align: center;
  width: 45px;
  height: 40px;
}
