@import "../../styles/common/colors.scss";

.navbarActive {
  background-color: $color-theme;

  .navbarMenu {
    background-color: $color-theme;

  }

  
}

.sidebarHome {

  background-color: blue;

  
  .navbarMenu {
    background-color: blue;

  }
}