@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.botaoInput {
  border-radius: 10px;
  width: 98%;
  height: 15%;
  color: white;
  text-align: center;
  background-color: $color-theme;
  display: inline;
  justify-content: center;
  align-items: center;
  border: 0;
  font-family: $mogra;
  margin-bottom: 0;
  font-size: 150%;
  min-height: 40px;
  cursor: pointer;
  border: 1px solid black;
}
