.spanPage {
  width: 100%;
  height: 100%;
  text-align: -webkit-center;
  display: grid;
  justify-items: center;
}

.title {
  text-align: center;
  font-size: 9.6rem;
  padding: 15rem 0 0 0;
}

.spanContent {
  width: 125.1rem;
  max-width: 100%;
  display: flow-root;
  margin-top: 6.9rem;
}

.buttonPromotion {
  width: 27.5rem;
  height: 5.9rem;
  font-size: 3.5rem;
  border: 1px solid black;
  padding-bottom: 0.8rem;
  float: right;
}

.contentNoPromotion {
  height: 100%;
  width: 100%;
}

.spanNoPromotion {
  margin-top: 6.5rem;
  width: 100%;
}

.contentPromotion {
  margin-top: 8rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 5.5rem;
  justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
  .spancontent {
    width: 85rem;
    max-width: 100%;
    margin: 6.5rem 3rem 0 3rem; 
    display: flow-root;
    text-align: -webkit-center;
  }

  .contentNoPromotion {
    height: 100%;
    margin-top: 6rem;
    width: 80rem;
    margin-left: -7rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
    justify-content: space-between; 
  }
}
