@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.spanPage {
  margin: 22rem 10rem 10rem 10rem;
  justify-items: center;
  display: grid;
}

.logoMark {
  width: 30rem;

}

.spanButtons{
  width: 55.8rem;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
}

.button {
  width: 30.2rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
  font-weight: 500;
  font-size: 3.6rem;
  height: 7.7rem;
  font-family: $mogra;
}

.spanInputs {
  display: flex;
  flex-wrap: wrap;
  width: 55.8rem;
  margin: 10rem 0 4rem 0;
  justify-content: center;
}

.spanInput {
  width: 55.8rem;
  height: 5.6rem;
  border: 0.1rem solid $grey-midium;
  margin: 0;
  margin-bottom: 1.3rem;
}

.inputIcon {
  font-size: 3rem;
  padding: 0.9rem 1.5rem 0 1rem;
  color: $grey-midium;
}

.input {
  font-size: 1.8rem;
  width: 40rem;
  padding-top: 0.4rem;
}

.passwordVisible {
  color:$grey-midium;
  cursor: pointer;
  margin-left: 46rem;
  position: absolute;
}

.error {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}