@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.errorMessage {
  color: #bf1b1b;
  margin-top: 0.1rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
