@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.commentCardSpan {
    border: 0.1rem black solid;
    width: 100%;
    margin: 0 2rem 0 2rem;
    background-color: #FAEEEE;
    box-shadow: 8px 8px 5px #888888 ;
}

.comment {
  font-size: 2rem;
  padding: 1rem 0.8rem 2rem 0.8rem;
  text-align: left;
  width: 62rem;
  height: 2.5rem;
  overflow: hidden;
  border: 0;
  background-color: #FAEEEE;
}

.date {
  float: right;
  margin: 1.1rem 0.5rem 0 0;
}

.grade{
  float: left;
  bottom: 0;
  padding: 0 0 0.56rem 1.4rem;
}
