@import "../../styles/common/colors.scss";
@import "../../styles/common/typography.scss";

.spanPage {
  // width: 100%;
  // height: 100%;
  // text-align: -webkit-center;
  width: 100%;
height: 100%;
justify-items: center;
display: inline-grid;
}

.menu {
  text-align: center;
  font-size: 9.6rem;
  padding: 3rem 0 0 0 ;
}

.spancontent {
  // width: 112rem;
  // max-width: 100%;
  // margin: 1rem 3rem 0 3rem;
  // display: flow-root;
  // text-align: -webkit-center;
  width: 112rem;
  max-width: 100%;
  margin: 1rem 3rem 0 3rem;
  display: flow-root;
  justify-self: center;
}

.searchPlate {
  width: 31rem;
  height: 5.3rem;
  background-color: #F9F8F8;
  outline: 0;
  border: 0.1px solid black;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.searchPlate::-webkit-input-placeholder {
  font-size: 2rem;
  font-family: $main-font;
  color: #00000033;
  padding-left: 00.2em;
  padding-bottom: 4em;
}


.buttonPromotion {
  width: 16.9rem;
  height: 5.6rem;
  -webkit-text-stroke: 0.3px black;
  font-size: 2.4rem;
  text-shadow: 1rem black solid;
  border: 1px solid black;
  float: right;
  margin-left: 3rem;
}

.contentPromotion {
  height: 100%;
  width: 100%;
}

.spanNoPromotion {
  margin-top: 6.5rem;
  width: 100%;
}

.contentNoPromotion {
  height: 100%;
  margin-top: 5rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 9.2rem;
  row-gap: 3.5rem;
}

.deleteMessage {
  z-index: 1;
  position: absolute;
  margin-top: 2rem;
  margin-left: 10rem;
}

.contentTop {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 1250px) {
  .searchPlate {
    margin-left: 5rem;
  }

}